:root {
  --primary-color: black;
  --secondary-color: #ca4e79;
  --form-background: #f9f7fe;
  --tertiary-color: #cc668a;
  --text-color: white;
  --detail-color: lightpink;
  --info-color: whitesmoke;
  --background-color: #1f2544;
}

body {
  background-color: var(--primary-color);
  font-family: "Molengo", sans-serif;
}

a {
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: 600;
}

p {
  font-size: 17px;
}

.weather-app-container {
  background: var(--background-color);
  max-width: 660px;
  margin: 50px auto;
  padding-right: 38px;
  padding-left: 38px;
  padding-top: 38px;
  padding-bottom: 38px;
  border-radius: 10px;
  box-shadow: 15px 40px 80px rgba(65, 50, 100, 0.35);
}

#search-form {
  padding: 0 0 20px 0;
}

.search-input {
  background-color: var(--form-background);
  border: none;
  color: rgba(26, 21, 44, 0.6);
  font-size: 18px;
  padding: 16px 20px;
  width: 75%;
  border-radius: 6px;
  margin-right: 10px;
}

.search-button {
  background-color: var(--secondary-color);
  border: none;
  color: white;
  font-size: 20px;
  padding: 14.5px;
  width: 20%;
  border-radius: 6px;
  transition: all 150ms ease-in-out;
}

.search-button:hover {
  cursor: pointer;
  background-color: var(--tertiary-color);
}

h1 {
  font-weight: 800;
  font-size: 40px;
  color: var(--text-color);
}

h1.loading {
  margin: 35px 0 20px 50px;
}

.WeatherApp {
  display: flex;
  justify-content: space-between;
}

.WeatherApp .weather-info-left {
  margin-left: 22px;
  margin-top: 30px;
}

.WeatherApp .todays-weather {
  color: var(--info-color);
  line-height: 1.5;
}
.WeatherApp .todays-weather-details {
  font-weight: bolder;
  color: var(--detail-color);
}

.WeatherApp .weather-app-temperature-container {
  display: flex;
  margin-right: 18px;
  margin-top: 7px;
  justify-content: end;
}

.WeatherApp .weather-app-icon {
  margin-top: 30px;
  margin-right: 12px;
}

.WeatherApp .weather-app-temperature {
  font-size: 75px;
  margin-top: 20px;
  margin-left: 10px;
  font-weight: bold;
  color: var(--text-color);
}

.WeatherApp .weather-app-unit {
  margin-top: 38px;
  margin-left: 4px;
  font-size: 26px;
  color: var(--info-color);
}

.weather-app-unit a {
  color: var(--info-color);
  font-weight: 300;
}

.grid {
  display: grid;
  grid-template-columns: 10fr 9fr;
}

.capitalize {
  text-transform: capitalize;
}

footer {
  border-top: 1px solid #efeef1b6;
  color: var(--info-color);
  text-align: center;
  padding-top: 32px;
  font-size: 15px;
}

@media (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .weather-app-temperature-container {
    margin-left: 20px;
  }

  .weather-app-container {
    width: 88%;
    margin-top: 27px;
    margin-bottom: 27px;
    padding: 25px;
  }
  .search-input {
    width: 65%;
    padding: 10px 15px;
    font-size: 17px;
  }
  .search-button {
    width: 30%;
    padding: 10px 15px;
    font-size: 17px;
  }

  .WeatherApp .weather-app-temperature-container {
    justify-content: left;
  }
}
